<div class="container">
    <div class="container text-center mt-5">
        <h2 class="display-3">Rekentools</h2>
        <p class="lead">Overzicht van rekentools voor energiecoaches</p>
    </div>

    <div class="row card-container">
        <!-- Combined Card -->
        <div class="col-md-6">
            <a routerLink="/calculate" class="card-link">
                <div class="card card-cascade">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img class="card-img-top" src="../../../assets/images/boiler1.jpeg" alt="Card image cap">
                        <div class="mask rgba-white-slight"></div>
                    </div>

                    <div class="card-body card-body-cascade text-center">
                        <h4 class="card-title"><strong>Boiler Rekentool</strong></h4>
                        <p class="card-text">Rekentool voor het berekenen van het verbruik van een E-Boiler</p>
                        <a class="btn btn-primary">Bereken</a>
                    </div>
                </div>
            </a>
        </div>

        <!-- Add more cards here -->

    </div>
</div>