<!-- register.component.html -->

<div class="container">
    <br>
    <div class="card">
        <div class="card-body">
            <form (ngSubmit)="register()">
                <h2>Maak een account aan</h2>
                <hr>
                <label for="registerUserName" class="form-label"><em>Gebruikersnaam:</em></label>
                <input type="text" name="registerUserName" style="margin-bottom: 15px;" class="form-control"
                    id="registerUserName" [(ngModel)]="username">
                <label for="registerPassword" class="form-label"><em>Wachtwoord:</em></label>
                <input type="password" name="registerPassword" style="margin-bottom: 15px;" class="form-control"
                    id="registerPassword" [(ngModel)]="password">

                <!-- Display error message if password is too short -->
                <div *ngIf="password.length > 0 && password.length < 8" class="text-danger">
                    Wachtwoord moet minstens 8 tekens lang zijn
                </div>

                <label for="confirmPassword" class="form-label"><em>Bevestig Wachtwoord:</em></label>
                <input type="password" name="confirmPassword" style="margin-bottom: 15px;" class="form-control"
                    id="confirmPassword" [(ngModel)]="confirmPassword">

                <!-- Display error message if passwords do not match -->
                <div *ngIf="password !== confirmPassword" class="text-danger">
                    De ingevulde wachtwoorden komen niet overeen
                </div>

                <button type="submit" class="btn btn-primary"
                    [disabled]="password !== confirmPassword || password.length < 8">Maak account
                    aan</button>
                <button class="btn btn-primary login-button" routerLink="/login">Inloggen op bestaand account</button>

            </form>
        </div>
    </div>
</div>